
<!DOCTYPE html>

<html lang="en" ng-app="zdrApp" xmlns:fb="http://ogp.me/ns/fb#">
<head>
<title>За възрастта и теглото  :: Здравословно хранене и диета в калории. Калкулатор на храни</title>
<meta charset="utf-8">
<meta name="Keywords" content=" калкулатор, калории, здравословно, правилно, разделно, хранене, диета, спорт, храни, лечение, витамини, минерали, мазнини, въглехидрати, белтъчини, протеини, билки, отслабване, тегло, BMI, индекс телесна маса, diet, nutrition, calories, healthy възраст, тегло, ИТМ, BMI, идеално тегло, оптимално тегло, Станимир Михов, инструктор " />
<meta name="Description" content="Храни, диети, калории и спорт. Калориен калкулатор, идеално тегло, BMI. Здравословни съвети за витамини, минерали, белтъчини, мазнини и въглехидрати. "/>
<meta name = "format-detection" content = "telephone=no" />
<link rel="icon" href="/content/images/favicon.ico" type="image/x-icon">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" type="text/javascript"></script>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="/content/CACHE/js/f5e3f655282f.js"></script>

<meta property="og:image" content="https://assets.zdravoslovno.com/StanimirMihov.jpg" />



<script src="/content/js/apps/base.js"></script>

<link rel="stylesheet" href="/content/CACHE/css/520569f9eeab.css" type="text/css" /><link rel="stylesheet" href="/content/CACHE/css/baee53d0d667.css" type="text/css" media="screen" /><link rel="stylesheet" href="/content/CACHE/css/d41d8cd98f00.css" type="text/css" />
<!--[if lt IE 8]>
		 <div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
	 <![endif]-->
<!--[if lt IE 9]>
			<script src="/content/js/html5shiv.js"></script>
		<link rel="stylesheet" type="text/css" media="screen" href="/content/css/ie.css">
	 <![endif]-->
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/bg_BG/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!--button back top-->
<div id="back-top"><i class="fa fa-arrow-up"></i></div>
<div class="main">
<div class="div-content" ng-controller="main">

<!--==============================header=================================-->
<div id="stuck_container">
  <header>
    <div class="container">
      <h1 class="logo"><a href="/"><img src="/content/images/logo.png" alt="Nature"></a></h1>
      <h2 class="slogan">Здравословно хранене. <br>
        Твоята диета в калории.</h2>
      <ul class="soc_icons">
        <li><a href="https://www.facebook.com/Zdravoslovnocom" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="/contacts"><i class="fa fa-envelope"></i></a></li>
      </ul>
      <div class="row">
        <div class="grid_12">
          <form id="search1" action="/search/" method="POST" accept-charset="utf-8"><input type='hidden' name='csrfmiddlewaretoken' value='M16qfHC5UuZ2XyYg2RjJ9HnzKEOxUc3i' />
            <input type="text" name="s" id="search-key" value="" onfocus="myFocus(this);" onblur="myBlur(this);"/>
            <a onclick="var form = $('#search1'); form.attr('action', '/search/'+$('#search-key').val()); form.submit()" class="more_btn4"><i class="fa fa-search"></i></a>
          </form>
          <nav>
            <ul class="sf-menu header_menu">
              <li><a href="/" title="Начало"><i class="fa fa-home marTop5"></i></a></li>
              <li><a href="#">Калкулатори</a>
                <ul class='submenu'>
                  <li><a href="/calculators-calorie-counter">Калкулатор на калории</a></li>
                  <li><a href="/calculators-bmi">Индекс на телесната маса</a></li>
                  <li><a href="/calculators-ideal-weight">Идеално тегло</a></li>
                </ul>
              </li>
              <li><a href="#">Хранителни вещества<strong></strong></a>
                <ul class='submenu'>
                  <li><a href="/vitamins">Витамини</a></li>
                  <li><a href="/minerals">Минерали</a></li>
                  <li><a href="/proteins">Белтъчини</a></li>
                  <li><a href="/fats">Мазнини</a></li>
                  <li><a href="/carbohydrates">Въглехидрати</a></li>
                  <li><a href="/calories">Калории</a></li>
                </ul>
              </li>
              <li><a href="/diets">Диети<strong></strong></a> </li>
              <li><a href="/super-foods">Супер храни<strong></strong></a></li>
              <li><a href="/herbs">Билки</a></li>
              <li><a href="/sport">Спорт<strong></strong></a> </li>
              <li><a href="/blog">Блог<strong></strong></a> </li>
            </ul>
          </nav>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    
  </header>
</div>


    <!--=======content================================-->

    <div class="box-2" id="header-line">
      <div class="box-1 content_box head-title">
        <div class="container">
          <div class="row">
            <div class="grid_12">
              <h1>Блог</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-2" style="margin-top:0 !important">
      <div class="container">
        <div class="row">
          <div class="grid_12">
            <div class="row">
              <ol class="breadcrumb grid_12">
                <li><a href="/">Начало</a></li>
                <li><a href="/blog">Блог</a></li>
                <li>За възрастта и теглото </li>
              </ol>
              <div class="grid_3" id="myScrollspy">
                <div id="myNav">
                  <div class="header_txt_section">
                    <h2><a href="/calculators-calorie-counter" class="link1">Калкулатор на калории</a></h2>
                    <p class="txt2"><a href="/calculators-calorie-counter" class="link1">Изчислете колко калории сте консумирали</a></p>
                  </div>
                  <div class="header_txt_section bg2">
                    <h2><a href="/calculators-bmi" class="link1">Индекс на телесната маса</a></h2>
                    <p class="txt2"><a href="/calculators-bmi" class="link1">Проверете своя индекс на телесна маса</a></p>
                  </div>
                  <div class="header_txt_section bg3">
                    <h2><a href="/calculators-ideal-weight" class="link1">Идеално тегло</a></h2>
                    <p class="txt2"><a href="/calculators-ideal-weight" class="link1">Поставете си реалистична цел &quot;идеално тегло&quot;</a></p>
                  </div>
                </div>
                <div class="ads">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-5417566895143195"
     data-ad-slot="4076928974"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
              </div>
              <div class="grid_9"> <span class="txt8 right">
                <time datetime="Юни 15, 2016, 5:28 след обяд">15 Юни 2016</time>
                </span>
                <h2 class="title-big">За възрастта и теглото </h2>
                <div class="grid_4 right">
                <img alt="За възрастта и теглото " src="https://assets.zdravoslovno.com/StanimirMihov.jpg" />
                <small class="txt_ital">Снимка: StanimirMihov.com</small>
                </div>
                <div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>
                <h5 class="leading"></h5>
                




<p><em><strong>Станимир Михов</strong> е фитнес ентусиаст и <a href="https://stanimirmihov.com" title="персонален фитнес инструктор" target="_blank">персонален инструктор</a>, завършил в НСА Фитнес и фитнес-културизъм. </em><br><em>Специално за аудиторията на Zdravoslovno.com той представя практични съвети за здравословен начин на живот и темата този път е:&nbsp;</em></p>
<h3><strong>ВАЖНАТА ЗАВИСИМОСТ МЕЖДУ ВЪЗРАСТТА И ТЕЛЕСНОТО ТЕГЛО</strong></h3>
<hr>
<p><br>Когато става въпрос за идеално тегло, има някои закономерности, които трябва да се вземат под внимание. Това са важни взаимодействия и връзки, които оказват своето значение, както при формирането на тялото на едно дете, така и при процеса на натрупване на килограми при възрастните индивиди.</p>
<p><br>Наскоро Световната здравна организация (СЗО) изнесе нови нормативи за ръста и теглото при малките деца. Това не е правено от повече от 20 години и разликата се състои в това, че за норма са посочени по-ниски килограми за съответната възраст. Причината е, че много по-голям процент от децата в днешно време се хранят изцяло с майчина кърма до определена възраст, за разлика от предишни години, когато се е разчитало в по-голяма степен на адаптираните млека. При естественото хранене се трупат по-бавно килограми и от там идват разликите с предходните норми.</p>
<p><br>За да намерим закономерността в процес на натрупване на телесно тегло при възрастните хора, трябва детайлно да се спрем на някои подробности. <br>На първо място е важно да разграничим натрупването на тегло при двата пола, тъй като има разлика в хормоналния фон, както и е налице специфика в телата при мъжете и жените. Научно е обосновано, че <strong>с възрастта мъжете малко намаляват своето тегло, докато при нежния пол е обратното – с възрастта жените натрупват повече килограми</strong>.</p>
<p><br>Освен гореизложените причини, може да добавим и факта, че с напредване на възрастта понякога се отключват заболявания, които забавят метаболизма и по този начин въздействат за натрупване на повече килограми и мазнини на нежелани места.</p>
<p>В интернет има много ресурси и таблици, по които да определим най-подходящото за възрастта тегло. Като цяло те се обосновават на изчисляване на <a href="http://zdravoslovno.com/calculators-bmi" title="Индекса на телесна маса (BMI)">Индекса на телесна маса (ИТМ)</a>, но имайте предвид, че това не е особено точен метод, защото не се вземат предвид възрастта и заболяванията на индивида, както и редица други фактори.</p>
<p>Френският учен Пол Брока (<a href="https://en.wikipedia.org/wiki/Paul_Broca" title="Pierre Paul Broca" target="_blank">Pierre Paul Broca</a>) е съставил таблица за изчисление на оптималното идеално тегло, обусловено от възрастта и височината. Той смята, че за дамите до 40 години теглото трябва да се изчислява, като от ръста в сантиметри се извади 110. След 40 години от ръста се изважда 100, а след 50 годишна възраст към този резултат трябва да се добавят и още 5 %. <br><br></p>
<blockquote>
<h1><strong>Как да изчислим идеалното тегло по метода на Пол Брока</strong></h1>
<h1>Примери</h1>
<ul>
<li>жена на възраст 38 години и височина 166 см ⇒ <strong>Идеално тегло: 56 кг<br></strong>(166 <code>- 110</code>) = 56 кг</li>
<li>жена на възраст 43 години и височина 170 см ⇒ <strong>Идеално тегло: 70 кг</strong> <br>(170 <code>- 100</code>) = 70 кг</li>
<li>жена на възраст 55 години и височина 160 см ⇒ <strong>Идеално тегло: </strong><strong>63 кг</strong> <br>(160 <code>- 100</code>)<code> + 5% от разликата</code>, или добавят се още 3 кг към разликата от 60.</li>
</ul>
</blockquote>
<p><em>Този метод обаче също не дава толкова надеждни резултати, защото не отчита спецификите и особеностите на индивидите, например дали това са хора с наличие на някакви заболявания, бременни или кърмещи жени, и други. <br>Все пак <strong>формулата на Пол Брока може да бъде ориентир, когато искаме да се придържаме към определено здравословно телесно тегло</strong>.</em></p>
<p><br>Ако искаме да изглеждаме и да се чувстваме добре на всяка възраст, трябва да се съобразим с факта, че в различните периоди от живота си човек се нуждае от различни съотношения (пропорции) в приема на хранителни вещества, тъй като потребностите на организма се изменят с напредване на възрастта.</p>
<p>- В храненето на децата и подрастващите трябва да присъстват много зеленолистни зеленчуци, пресни плодове, зърнени храни и <a href="http://zdravoslovno.com/proteins" title="белтъчини">белтъчини</a>, защото в тези периоди се изгражда бъдещия възрастен индивид и се полагат основите на по-нататъшното му здравословно хранене и развитие.</p>
<p>- След 30-та година е добре да се започне&nbsp; с избягване или поне ограничаване на силно преработените храни като например сладкиши и чипсове, защото те могат да доведат до бързо натрупване на <a href="http://www.zdravoslovno.com/fats" title="мазнини">мазнини</a>, съчетано със забавящия се метаболизъм.</p>
<p>- В по-напреднала възраст са нужни и храни, които да доставят много влакнини (растителни <a href="http://zdravoslovno.com/blog/miracle-fibres" title="фибри">фибри</a>), за да се поддържа в добра форма забавената перисталтика на червата. Ограниченията в приема на сол също е от съществено значение в тази възраст, за да не се провокира рязкото покачване на кръвното налягане, а с това и увеличение на риска от появата на инсулт и инфаркт.</p>
<h1><br><strong>В заключение може да се каже, че оптималното тегло е различно за всяка възраст и може да се поддържа през целия живот в случай, че се съчетават <span style="text-decoration: underline;">правилно хранене с редовно физическо натоварване, разходки на чист въздух и повече спокойствие в ежедневието</span>!</strong></h1>
<hr>
<p>Още полезни съвети и статии на Станимир Михов можете да разгледате в сайта му на адрес <a href="https://stanimirmihov.com " title="StanimirMihov.com - Фитнес тренировки и правилно хранене " target="_blank">StanimirMihov.com</a>.</p>
<hr>
<p></p>


                <div class="wide-ads">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5417566895143195",
          enable_page_level_ads: true
     });
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-5417566895143195"
     data-ad-slot="4076928974"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


</div> <!-- /div-content -->
</div> <!-- /main -->
<div class="clearfix"></div>
<!--=======footer=================================-->
<footer>
  <div class="footer_priv">
    <div class="container">
      <div class="grid_3">
        <ul class="listWithMarker">
          <li> <a href="/calculators-calorie-counter" class="link2">Калкулатори</a></li>
          <li> <a href="/proteins" class="link2">Хранителни вещества<strong></strong></a></li>
          <li> <a href="/diets" class="link2">Диети<strong></strong></a> </li>
          <li> <a href="/super-foods" class="link2">Супер храни<strong></strong></a></li>
          <li> <a href="/herbs" class="link2">Билки<strong></strong></a></li>
          <li> <a href="/sport">Спорт<strong></strong></a> </li>
        </ul>
      </div>
      <div class="grid_3">
        <ul class="listWithMarker">
          <li> <a href="/blog" class="link2">Блог<strong></strong></a></li>
          <li> <a href="/advertising" class="link2">За реклама<strong></strong></a></li>
          <li> <a href="/partners" class="link2">Партньори<strong></strong></a></li>
          <li><a href="/contacts" class="link2">Контакти<strong></strong></a> </li>
          <li> <a href="/disclaimer" class="link2">Отговорност</a> </li>
          <li> <a href="/privacy_policy" class="link2">Правила за ползване на сайта<strong></strong></a></li>
        </ul>
      </div>
      <div class="grid_5" ng-controller="subscribe">
        <h3>Получавайте съобщения от Zdravoslovno.com</h3>
        <p>Въведете своя имейл адрес и ние ще ви известяваме за нови статии, продукти или друга здравословна информация.</p>
        <form>
          <p class="alert" ng-class="{ok:'alert-success', danger:'alert-danger'}[subscribe_alert]" role="alert" ng-if="subscribe_msg">[[ subscribe_msg ]]</p>
          <input type="email" class="subscribe" id="email_subscribe" />
          <a ng-model="subscribe" class="more_btn" ng-click="subscribe()" ng-if="!working" >Изпрати</a><div class="spinner-loader" ng-if="working" >Моля изчакайте...</div>
        </form>
      </div>
      <div class="clear"></div>
      <!--{%FOOTER_LINK} -->
      <p class="txt_priv">&copy; 2003-<span id="copyright-year"></span> <span class="color2">&bull;</span> Green Mark Media. Всички права запазени. </p>
    </div>
  </div>
</footer>
<script type="text/javascript">

	 $(document).ready(function(){
		// Initialize the gallery
    $('.magnifier2').touchTouch();
    
	 });

	 function myFocus(element){
			 if (element.value == element.defaultValue){
					 element.focus();
					 element.value = '';
			 }
		}
		function myBlur(element){
			 if (element.value == ''){
					 element.blur();
					 element.value = element.defaultValue;
			 }
		}

</script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1293107-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
